.search-result-item {
	-fx-padding: 18 24;
	-fx-border-width: 0 0 1.5 0;
	-fx-border-insets: 0 30;
	-fx-border-color: -nodeflow-color-palette-5;
	-fx-fill-height: true;
}

.search-result-item:hover {
	-fx-background-color: -nodeflow-color-palette-12;
}

#search-result-icon {
	-fx-height-mode: fit;
	-fx-alignment: center;
	-fx-max-height: 30;
	-fx-min-width: 50;
}

#search-result-title {
	-fx-text-fill: -nodeflow-color-palette-3;
	-fx-font-family: Roboto;
	-fx-font-weight: bold;
	-fx-font-size: 15;
}

#search-result-source {
	-fx-text-fill: -nodeflow-color-palette-18;
	-fx-font-family: Roboto;
	-fx-font-size: 12;
}
